* {
    margin: 0px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "profile menu"
    "sidebar workspace";
    height: 100vh;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

#profile {
    grid-area: profile;
    background-color: #546da6;
    padding: 10px;
}

#menu {
    grid-area: menu;
    background-color: #465892;
}

#sidebar {
    grid-area: sidebar;
    background-color: #543d7b;
    display: grid;
    justify-content: center;
    gap: 16px;
    padding: 8px;
}

#sidebar button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #bbc1c6;
    border: 1px solid lightslategray;
}

button:hover {
    cursor: pointer;
}

#workspace {
    grid-area: workspace;
    background-color: #6d5593;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;
}

.project {
    display: grid;
    max-width: 300px;
    border: 1px solid lightslategray;
    border-radius: 3%;
    background-color: #bbc1c6;
    padding: 8px;
    gap: 4px;
    /* background-color: #968eaf; */
    /* max-width: clamp(200px, 1fr, 500px); */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    font-size: 1.5rem;
}

.todo {
    padding: 8px;
    font-size: 1.1rem;
    line-height: 1.1;
    background-color: #f4faff;
    border: 1px solid lightslategray;
    border-radius: 10px;
}

.todo:hover {
    cursor: pointer;
}

dialog {
    justify-self: center;
    /* align-self: center; */
}