* {
    margin: 0px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "profile menu"
    "sidebar workspace";
    height: 100vh;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

#profile {
    grid-area: profile;
    background-color: aqua;
    padding: 10px;
}

#menu {
    grid-area: menu;
    background-color: blue;
}

#sidebar {
    grid-area: sidebar;
    background-color: rebeccapurple;
}

#workspace {
    grid-area: workspace;
    background-color: rgb(207, 6, 207);
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px;
}

.project {
    display: grid;
    max-width: 300px;
    border: 1px solid black;
    /* max-width: clamp(200px, 1fr, 500px); */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

